/* This is dark mode */

@font-face {
  font-family: "Segoe UI";
  src: url("./assets/fonts/segoeuib.ttf") format("ttf"),
    url("./assets/fonts/segoeuisl.ttf") format("tff");
}

@font-face {
  font-family: "Semilight";
  src: url("./assets/fonts/segoeuisl.ttf") format("tff");
}

body {
  background-color: black;
}

.switchSlider {
  background: white;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  margin-top: -26.5px;
  margin-left: 6px;
}

.switchOuter {
  width: 64px;
  height: 28px;
  border-radius: 50px;
  border: solid 1.5px white;
}

.slider {
  margin-left: 1423px;
  margin-top: 3%;
}

.line {
  height: 6px;
  width: 872px;
  background-color: #8664c3;
  margin-left: 100px;
  margin-top: -100;
}

h1 {
  color: #8664c3;
  font-family: "Segoe UI", sans-serif;
  font-size: 150px;
  margin-left: 100px;
  margin-bottom: -1px;
  margin-top: 115px;
}

#TagLine {
  color: #8664c3;
  font-family: "Segoe UI", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin-left: 100px;
  margin-top: 23px;
}

p1,
p2 {
  color: #666666;
  font-family: "Segoe UI", Tohoma;
  font-size: 30px;
  font-weight: 600;
}

a {
  color: #666666;
  font-family: "Segoe UI", sans-serif;
  text-decoration: none;
}

.watermark{
    width: 300px;
    height: 300px;
    opacity: 0.2;
    margin-left: 1146px;
    margin-top: -139px;
}

.credits {
  font-size: 40px;
  margin-left: 64px;
  margin-top: -43px;
}

.foot {
  margin-right: 81px;
}

body.darkmode {
  background-color: black;
}
